In [3]:
import pandas as pd
import numpy as np
table = pd.read_csv("res.csv",index_col="PŘÍJMENÍ")

In [6]:
# počet unikátních příjmení po letech
for year in range(1916,2017):
    print(str(year) + " " + str(np.sum(table[str(year)].values!=0)))

1916 237
1917 361
1918 440
1919 1072
1920 1847
1921 2850
1922 3786
1923 5116
1924 6208
1925 7653
1926 9081
1927 10537
1928 12347
1929 13890
1930 15960
1931 17061
1932 18824
1933 19225
1934 20199
1935 21057
1936 22028
1937 23096
1938 24907
1939 26547
1940 29683
1941 30556
1942 32027
1943 34768
1944 35648
1945 35044
1946 40110
1947 41697
1948 41585
1949 41157
1950 42101
1951 42649
1952 42900
1953 42904
1954 42794
1955 42796
1956 42751
1957 42305
1958 40559
1959 38907
1960 39114
1961 40184
1962 40905
1963 43678
1964 44925
1965 43622
1966 42694
1967 42530
1968 42434
1969 43769
1970 45133
1971 46057
1972 47440
1973 50545
1974 52542
1975 52287
1976 52042
1977 51269
1978 50923
1979 49786
1980 46817
1981 45112
1982 44579
1983 43704
1984 43758
1985 43289
1986 42856
1987 42188
1988 42712
1989 41551
1990 42189
1991 41852
1992 40533
1993 40353
1994 37634
1995 35007
1996 33952
1997 33881
1998 33870
1999 33291
2000 34159
2001 34224
2002 34745
2003 35170
2004 35944
2005 37348
2006 38107
2007 40118
2008 41358
2009 40838
2010 40738
2011 38991
2012 38770
2013 38316
2014 38744
2015 38693
2016 37937